<a href="https://colab.research.google.com/github/FrankPerera04/DSPL_Individual_CW/blob/main/Data%20Pre%20Processing/Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Data Files/Data Science Project Lifecycle/Individual CW/Information for Accommodation.csv')

## Dataset Overview

In [ ]:
# Display the DataFrame (optional)
df.head()

,Type,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,Boutique Hotels,THE THEVA RESIDENCY,"11/B5/10-1 06TH LANE, HANTANA,KANDY",10,NaN,Kandy,Kandy Divisional Secretariat,Kandy,80.635411,7.276036
1,Boutique Hotels,HIGHLAND VILLA,"351, ABIMANGAMA ROAD, KUMBALGAMA, WELIGAMA",10,NaN,Matara,Weligama Divisional Secretariat,Weligama Pradeshiya Sabha,80.409972,5.960334
2,Boutique Hotels,ULAGALLA WALAWWA RESORT,"THIRAPPANE, ANURADHAPURA",21,NaN,Anuradhapura,Anuradhapura East,Anuradhapura,80.545063,8.205927
3,Boutique Hotels,GALLE FORT HOTEL,"NO.28, CHURCH STREET, FORT , GALLE",14,NaN,Galle,Galle Divisional Secretariat,Galle,80.217563,6.026649
4,Boutique Hotels,THE ELEPHANT CORRIDOR,"POTHANA,KIBISSA, SIGIRIYA",21,NaN,Matale,NaN,Matale,80.710743,7.943525

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          2130 non-null   object
 1   Name          2130 non-null   object
 2   Address       2130 non-null   object
 3   Rooms         2130 non-null   int64
 4   Grade         1837 non-null   object
 5   District      2130 non-null   object
 6   AGA Division  2111 non-null   object
 7   PS/MC/UC      2127 non-null   object
 8   Logitiute     1368 non-null   float64
 9   Latitude      1370 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 166.5+ KB

## Handling Missing Values

In [ ]:
# Check for missing values
print(df.isnull().sum())

Type              0
Name              0
Address           0
Rooms             0
Grade           293
District          0
AGA Division     19
PS/MC/UC          3
Logitiute       762
Latitude        760
dtype: int64

In [ ]:
# handling missing values
df.fillna({'Grade': 'Null'}, inplace=True)
df.fillna({'AGA Division': 'Null'}, inplace=True)
df.fillna({'PS/MC/UC': 'Null'}, inplace=True)
df.dropna(subset=['Logitiute', 'Latitude'], inplace=True)

In [ ]:
# Check for missing values
print(df.isnull().sum())

Type            0
Name            0
Address         0
Rooms           0
Grade           0
District        0
AGA Division    0
PS/MC/UC        0
Logitiute       0
Latitude        0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1367 entries, 0 to 2129
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Type          1367 non-null   object
 1   Name          1367 non-null   object
 2   Address       1367 non-null   object
 3   Rooms         1367 non-null   int64
 4   Grade         1367 non-null   object
 5   District      1367 non-null   object
 6   AGA Division  1367 non-null   object
 7   PS/MC/UC      1367 non-null   object
 8   Logitiute     1367 non-null   float64
 9   Latitude      1367 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 117.5+ KB

## Validation

In [ ]:
# Validating Type
grade_counts = df['Type'].value_counts()
print(grade_counts)

Type
Guest Houses                    496
Bangalows                       216
Home Stay Units                 211
Tourist Hotels                  208
Classified Hotels( 1-5 Star)    141
Boutique Villas                  36
Boutique Hotels                  28
Rented Apartments                21
Rented Homes                      5
Heritage Bungalows                3
Heritage Homes                    2
Name: count, dtype: int64

In [ ]:
# Validating Name
# Checking if all values in 'Name' are strings
Non_text = df[~df['Name'].apply(lambda x: isinstance(x, str))]
print(Non_text)

Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

In [ ]:
# Validating Address
# Checking if all values in 'Address' are strings
non_text_address = df[~df['Name'].apply(lambda x: isinstance(x, str))]
print(non_text_address)

Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

In [ ]:
# Validating Rooms
# Checking for non-numeric values in the 'Rooms' column
invalid_rooms = df[~df['Rooms'].apply(lambda x: pd.api.types.is_number(x))]
print(invalid_rooms)

Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

In [ ]:
# Validating Grade
grade_counts = df['Grade'].value_counts()
print(grade_counts)

Grade
A           293
Null        272
B           188
DELUXE      171
STANDARD    149
SUPERIOR    138
ONE          40
TWO          37
THREE        25
FIVE         20
FOUR         19
C            15
Name: count, dtype: int64

In [ ]:
#This is done so the Grade column is more organised since now all hotels have a grade from A to D.
# Make new Mapping for Grade
grade_mapping = {
    'SUPERIOR': 'A',
    'ONE': 'A',
    'DELUXE': 'B',
    'TWO': 'B',
    'STANDARD': 'C',
    'THREE': 'C',
    'FOUR': 'D',
    'FIVE': 'D'
}

df['Grade'] = df['Grade'].replace(grade_mapping)

In [ ]:
# Validating Grade
grade_counts = df['Grade'].value_counts()
print(grade_counts)

Grade
A       471
B       396
Null    272
C       189
D        39
Name: count, dtype: int64

In [ ]:
# Validating District
counts = df['District'].value_counts()
print(counts)

District
Galle           198
Kandy           186
Colombo         164
Gampaha         122
Kalutara         89
Badulla          74
Nuwara Eliya     72
Matara           56
Matale           53
Hambantota       51
Anuradhapura     42
Puttalam         39
Ampara           37
Batticaloa       27
Ratnapura        26
Kurunegala       22
Trincomalee      22
Kegalle          21
Polonnaruwa      21
Jaffna           18
Moneragala       16
Vavuniya          5
Kilinochchi       3
Mannar            3
Name: count, dtype: int64

In [ ]:
# Validating AGA Division
counts = df['AGA Division'].value_counts()
print(counts)

AGA Division
Kandy                            130
Colombo                           98
Galle                             57
Nuwara Eliya                      56
Habaraduwa                        52
                                ...
Uppuveli Trinco Malee              1
Talawa Pradeshiya Sabha            1
Kalutara                           1
Nallur Pradeshiya Sabha            1
Thamankaduwa Pradeshiya Sabha      1
Name: count, Length: 156, dtype: int64

In [ ]:
# Validating Grade
counts = df['PS/MC/UC'].value_counts()
print(counts)

PS/MC/UC
Kandy Divisional Secretariat           89
Colombo Divisional Secretariat         80
Negombo Divisional Secretariat         56
Nuwara Eliya Divisional Secretariat    55
Habaraduwa Divisional Secretariat      51
                                       ..
Baduraliya                              1
Sevanagala Divisional Secretariat       1
Akkaraipattu Divisional Secretariat     1
Ninthavur Divisional Secretariat        1
Nallur Divisional Secretariat           1
Name: count, Length: 189, dtype: int64

In [ ]:
# Validating Logitiute
# Checking for non-numeric values in the 'Logitiute' column
log = df[~df['Logitiute'].apply(lambda x: pd.api.types.is_number(x))]
print(log)

Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

In [ ]:
# Validating Latitude
# Checking for non-numeric values in the 'Latitude' column
lat = df[~df['Latitude'].apply(lambda x: pd.api.types.is_number(x))]
print(lat)

Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

## Checking for Duplicates

In [ ]:
# Check for duplicates
duplicates = df.duplicated()
print(f'Number of duplicate rows: {duplicates.sum()}')
print(df[duplicates])

Number of duplicate rows: 0
Empty DataFrame
Columns: [Type, Name, Address, Rooms, Grade, District, AGA Division, PS/MC/UC, Logitiute, Latitude]
Index: []

## Saving the dataset

In [ ]:
# Save processed dataset
df.to_csv('processed_accommodation_data.csv', index=False)
df.to_csv('/content/drive/MyDrive/Colab Data Files/Data Science Project Lifecycle/Individual CW/processed_accommodation_data.csv', index=False)